extends ../../layout/default.pug
include ../../mixins/alert.pug
block main
    +alert-success()
    +alert-error()

    .product-detail
        .container.my-5
            .row
                .col-lg-6.col-12
                    .inner-thumb
                        img(src=product.thumbnail, alt=product.title)
                .col-lg-6.col-12
                    .inner-content
                        h1(class="inner-title") #{product.title}
                        .inner-price
                            if (product.priceNew)
                                div(class="inner-price-new") #{product.priceNew}đ
                            if (product.price)
                                div(class="inner-price-old") #{product.priceOld}đ
                            if (product.discountPercentage)
                                div(class="inner-percent") -#{product.discountPercentage}%

                        if (product.category)
                            div(class="inner-category")
                                span Danh mục: 
                                a(href=`/products/${product.category.slug}`) #{product.category.title}
                        .inner-desc !{product.description}
                    .inner-form
                        form(
                            action=`/cart/add/${product.id}`
                            method="POST"
                        ) 
                            .form-add-to-card 
                                span.quantity Số lượng
                                .input-quantity
                                    span(button-substract-quantity)
                                        i(class="fa-solid fa-minus")
                                    input(
                                        class="form-control"
                                        type="text"
                                        name="quantity"
                                        value="1"
                                        min="1"
                                        max=product.stock
                                        input-quantity
                                        readonly
                                        class="text-center"
                                    )
                                    span(button-add-quantity)
                                        i(class="fa-solid fa-plus")
                            .row.list-button-card
                                .col-12
                                    .button-buy-now
                                        i(class="fa-solid fa-bag-shopping") 
                                        button(buy-now) Mua hàng ngay
                                .col-6
                                    button(
                                        type="submit"
                                        class="btn"
                                        button-add-card
                                    ) Thêm vào giỏ hàng
                                .col-6
                                    button(button-hotline)
                                        small Liên hệ Hotline: 
                                        strong 0868936041
        hr
        .container.my-5
            .row
                .col-12
                    
                    