extends ../../layout/default.pug
include ../../mixins/alert.pug

block main
  +alert-success()
  +alert-error()
  if(cartDetail.products.length > 0)
    .page-cart
      .container
        .card.card-cart 
          .card-body
            .row
              .col-12.table-responsive-md
                
                table(class="table " table-cart)
                  thead
                    tr
                      th Thông tin sản phẩm
                      th Giá
                      th Số lượng
                      th Tổng tiền
                  tbody
                    each item, index in cartDetail.products
                      tr
                        td.product-item
                          .inner-img
                            img(
                              src=item.infoProduct.thumbnail
                              alt=item.infoProduct.title
                              width="80px"
                            )
                          .inner-content
                            a(href=`/products/detail/${item.infoProduct.slug}`  class="product-title")   #{item.infoProduct.title}
                            a(
                              href=`/cart/delete/${item.product_id}`
                              class="btn button-delete"
                            ) Xóa

                        td #{item.infoProduct.priceNewFormat}đ
                        td
                          .input-quantity 
                            span(button-substract-quantity)
                              i(class="fa-solid fa-minus")
                            input(
                              type="text"
                              name="quantity"
                              value=item.quantity
                              min="1"
                              max=item.infoProduct.stock
                              item-id=item.product_id
                              input-quantity
                              readonly
                              class="text-center"                        )
                            span(button-add-quantity)
                              i(class="fa-solid fa-plus")
                        td #{item.infoProduct.totalPriceFormat}đ
            .row.mt-4 
              .col-md-6.col-12
              .col-md-6.col-12.text-left
                div(class="cart-total-price")            
                  h5(class="text-right mb-20") Tổng đơn hàng: 
                  strong #{cartDetail.totalPrice}đ
                a(href="/order/info" class="btn btn-confirm w-100") Xác nhận giỏ hàng
  else 
    .page-cart
      .container
        p Chưa có sản phẩm nào trong giỏ hàng.
        a(href="/products" class="btn btn-warning") Mua sắm ngay  