extends ../../layout/default.pug 
block main 
    .page-blog.my-20.p-20 
        .container
            .row 
                .col-md-8.col-12 
                    .blog-right 
                        h4.title Tạp chí đồng hồ 
                        .blog-main 
                            each blogF in blogsFeature 
                                .blog-item 
                                    .blog-img 
                                        a(href=`/blogs/detail/${blogF.slug}`)
                                            img(src=blogF.thumbnail, alt=blogF.title)
                                    .blog-content 
                                        h4.inner-title 
                                            a(href=`/blogs/detail/${blogF.slug}`) #{blogF.title}
                                        p.inner-desc #{blogF.description}
                                        span.inner-date #{blogF.date}
                                
                include ./blog-new.pug
                            
                            


